:root {
    --left-color: #5cc1fc;
    --right-color: #d4fb6a;
}

/* importing my pixel font */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* removing the default margin provided by the browser */

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Silkscreen', sans-serif,  cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, var(--left-color), var(--right-color));
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 70px;
    left: 0;
    background: transparent;
    width: 90px;
    overflow: hidden;
    transition: width .2 linear;

    z-index: 6;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    display: flex;
    transition: all .5 ease;
}

.logo img {
    padding-left: 20px;
    width: 45px;
    height: 45px;
}

nav:hover {
    width: 300px;
    height: 200px;
    background: transparent;
    color: white;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .1);
    transition: all .5 ease;
    border-radius: 0 0 5% 0;
    backdrop-filter: blur(2px);

    z-index: 8;
}

canvas {
    z-index: 7;
}

.logo span {
    padding: 10px 0px 20px 33px;
    font-size: 18px;
}

.list-item {
    padding-left: 100px;
}

.volume {
    margin-top: 10px;
    cursor: pointer;
}

.range-value {
    position: absolute;
    padding-top: 6px;
    margin-left: 5px;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3em;
}

.container {
    position: relative;
}

.game-score {
    position: absolute;
    z-index: 3;
    margin: 0;
    left: 50px;
    top: 50px;
    color: white;
    display: none;
}

.start-game {
    position: absolute;
    font-size: 3vmin;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    /* placing it on top of everything */
    z-index: 4;
}

.game-over-bg {
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    margin: 0;
    transform: translateY(10px);
}

.game-over-bg p {
    font-size: 2vmin;
    opacity: 0.7;
    transform: translatey(-5px);
}

button {
    cursor: pointer;
    font-family: 'Silkscreen', sans-serif,  cursive;
    font-size: 1.5vmin;
    height: 5vh;
    width: 40vmin;
    transform: translateY(-5px);
}

.game-over-container {
    position: absolute;
    width: 50vmin;
    font-size: 3vmin;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    /* placing it on top of everything */
    z-index: 5;
    display: none;
}

/* canvas background */
@keyframes move-twinkle-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px}
}

.stars, .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(./assets/images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(./assets/images/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twinkle-back 200s linear infinite;
}

canvas {
    position: relative;
    z-index: 2;
    box-shadow: 20px 10px 50px rgba(0, 0, 0, .5);
}

.hide {
    display: none;
}

.show {
    display: block;
}